<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/dashboard.css">
</head>
<body>
<div class="placeholder" id="fieldssetting">
    <title>Field Properties</title>
    <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1 well">
        <form>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label for="label" class="col-sm-3 form-control-label">Label:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="label" placeholder="Label">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="placeholder" class="col-sm-3 form-control-label">Placeholder:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="placeholder" placeholder="Placeholder">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tooltip" class="col-sm-3 form-control-label">Tooltip:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tooltip" placeholder="Tooltip">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="type" class="col-sm-3 form-control-label">Type</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="type">
                            <option>Single Line Text Field</option>
                            <option>Date Field</option>
                            <option>Dropdown Field</option>
                            <option>Checkboxes Field</option>
                            <option>Radio Buttons Field</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="options" class="col-sm-3 form-control-label">Options</label>
                    <div class="col-sm-9">
                        <textarea type="text" row="6" class="form-control" id="options" placeholder="One option one line"></textarea>
                    </div>
                </div>
                <button id="new_field" type="button" class="col-sm-offset-3 col-sm-9 btn btn-lg btn-info">Submit</button>
            </div>
        </form>
    </div>
</div>
<footer>Copyright @Di Qiu</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="../../js/app.js"></script>
</body>
</html>