<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" id="form_maker">Form Maker</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../views/users/register.view.html" id="nav_register">Register</a></li>
                <li><a href="../views/users/login.view.html" id="nav_login">Login</a></li>
                <li><a href="../views/users/profile.view.html" id="nav_profile">Username</a></li>
                <li><a href="../views/users/logout.view.html" id="nav_logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>