body {
    padding-top: 65px;
}
#mainpage{
    position:absolute;
}
#navMenu{
    height:30px;
    position:fixed;
}
#dashboard{
    height:30px;
}
footer{
    width:100%;
    background-color: #FFF;
    position:fixed;
    bottom: 0px;
    text-align: center;
}

