<section id="tv_detail" ng-controller="TvDetailController">
    <section id="movie_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="movie_detail_frame img-responsive" ng-src="{{model.veriPosterImg(model.tv.posterurl)}}">
                </div>
                <div class="mv_info col-lg-6">
                    <h3 class="section-heading">{{model.tv.name}}</h3><button class="btn btn-circle-sm btn-primary" ng-show="!model.likeitem&&model.islogin()" ng-click="model.like()"><span class="glyphicon glyphicon-thumbs-up"></span> </button><button class="btn btn-circle-sm btn-primary" ng-show="model.likeitem&&model.islogin()" ng-click="model.unlike()"><span class="glyphicon glyphicon-thumbs-down"></span> </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trailer">Trailer</button>
                    <h4 class="section-heading">{{model.tv.first_air_date}}</h4>
                    <p class="section-heading">Actors: Alan Taylor,David Nutter,Alex Graves</p>
                    <p>{{model.tv.overview}}</p>
                    <div class="rate">Rating:&nbsp;&nbsp;
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>IMDb &nbsp;<b>/  {{model.tv.vote_average}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tv_comment">
        <div class="container">
            <div class="row" ng-show="model.islogin()">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="well">
                        <h4>Leave Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3" ng-model="model.commenttext"></textarea>
                            </div>
                            <button ng-click="model.addComment()" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="comment in model.commentSet.comments">
                <div class="col-lg-1 col-lg-offset-2">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <strong>{{comment.username}}</strong> <span class="text-muted">Post on {{comment.date}}</span>    <a
                                class="addComToCom" ng-click="model.activeCommentWell($index)">Add Comment</a>    <a ng-show="model.authPower(comment.user_id)" ng-click="model.deleteComment(comment._id)">Delete Comment</a>
                        </div>
                        <div class="panel-body">
                            {{comment.text}}
                        </div>
                    </div>
                    <div class="well" ng-show="model.isCommentWellActive($index)">
                        <h4>Add Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea ng-model="model.subcommenttext" class="form-control coment-textarea" rows="3"></textarea>
                            </div>
                            <button ng-click="model.addSubComment($index)" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="row" ng-repeat="subcomment in comment.subcomments">
                        <div class="col-lg-2">
                            <div class="subcommentimg thumbnail">
                                <img class="img-responsive user-photo"
                                     src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="panel">
                                <div class="panel-heading">
                                    <strong>{{subcomment.username}}</strong>    <span class="text-muted">{{subcomment.date}}</span>    <a ng-show="model.authPower(subcomment.user_id)" ng-click="model.deleteSubComment(comment._id,subcomment._id)">Delete Comment</a>
                                </div>
                                <div class="panel-body">
                                    {{subcomment.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="trailer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators" ng-repeat="video in model.tv.video">
                            <li data-target="#myCarousel" data-slide-to="{{$index}}" class="active"></li>
                        </ol>
                        <div class="carousel-inner" ng-repeat="video in model.tv.video">
                            <div class="item active">
                                <div class="thumbnail">
                                    <div class="video-container">
                                        <iframe width="870" height="550" ng-src="{{video.youtubeurl}}"
                                                frameborder="0" allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>