<div class="container" ng-controller="ActorController">
    <div class="page">
        <div class="breadcrumbs">
            <a href="#/home">Home</a>
            <span>Actor Review</span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="filters">
                    <select ng-model="model.selectedfilter" ng-change="model.changefilter(model.selectedfilter)"
                            data-ng-options="filter as filter.label for filter in model.Filters">
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <form style="text-align: right">
                    <input ng-model="model.keyword" placeholder="search movie">
                    <button type="button" class="btn" ng-click="model.searchActor(model.keyword,1)">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="label-icon">Search</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="actor in model.actorlist">
                <div class="clearfix" ng-if="$index<actors.length&&$index % 4 == 0"></div>
                <div class="col-md-3">
                    <div class="team">
                        <a href="#/actor_detail/{{actor.id}}">
                        <figure class="team-image"><img ng-src="{{model.veriPosterImg(actor.profile_path)}}"></figure>
                        </a>
                        <h2 class="team-name">{{actor.name}}</h2>
                        <div class="social-links">
                            <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .movie-list -->

    <div class="pagination">
        <a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
        <span class="page-number current">1</span>
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="page-number">4</a>
        <a href="#" class="page-number">5</a>
        <a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
    </div>
</div>