<section class="row" id="news_detail" ng-controller="NewsDetailController">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>News title: Deadpool</h2>
            <p class="item-intro text-muted"></p>
            <img class="img-responsive img-centered" src="./img/news/deadpool.jpg" alt="">
            <p>News Article: Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                facere nemo!Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                facere nemo!Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam
                quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis
                facere nemo!</p>
            <p>Author: Di Qiu</p>
            <p>Create: 2013-04-23T09:48:15+02:00</p>
            <button type="button" class="btn btn-primary">
                <a href="#/new_list">Close</a>
            </button>
        </div>
    </div>
</section>