<div class="row">
    <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
        <div class="row">
            <h1 class="col-xs-18 col-md-12">Register</h1>
            <h1 class="col-xs-18 col-md-12"></h1>
        </div>
        <form id="register_form" class="form-horizontal well">
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">User Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="verifypassword" class="col-sm-3 control-label">Verify Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="verifypassword"
                           placeholder="Verify Password">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" form="register_form" value="Submit"
                            class="col-sm-12 btn btn-default btn-info"
                            onclick="$('#subpage').load('../users/profile.view.html')">Register
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>