<section id="actor_detail" ng-controller="ActorController">
    <section>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- Project Details Go Here -->
                <h2>{{model.actor.name}}</h2>
                <br>
                <button class="btn btn-circle-sm btn-primary" ng-show="!model.likeitem&&model.islogin()" ng-click="model.like()"><span class="glyphicon glyphicon-thumbs-up"></span> </button><button class="btn btn-circle-sm btn-primary" ng-show="model.likeitem&&model.islogin()" ng-click="model.unlike()"><span class="glyphicon glyphicon-thumbs-down"></span> </button>
                <p class="item-intro text-muted"></p>
                <img class="img-responsive img-centered" ng-src="{{model.veriPosterImg(model.actor.profile_path)}}" alt="">
                <h4>{{model.actor.place_of_birth}}</h4>
                <p>{{model.actor.birthday}}</p>
                <p>{{model.actor.biography}}</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary">
                    <a href="#/actor_list/popular">Close</a>
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row" ng-show="model.islogin()">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="well">
                        <h4>Leave Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"
                                          ng-model="model.commenttext"></textarea>
                            </div>
                            <button ng-click="model.addComment()" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="comment in model.commentSet.comments">
                <div class="col-lg-1 col-lg-offset-2">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <strong>{{comment.username}}</strong> <span
                                class="text-muted">Post on {{comment.date}}</span> <a
                                class="addComToCom" ng-click="model.activeCommentWell($index)">Add Comment</a> <a
                                ng-show="model.authPower(comment.user_id)" ng-click="model.deleteComment(comment._id)">Delete
                            Comment</a>
                        </div>
                        <div class="panel-body">
                            {{comment.text}}
                        </div>
                    </div>
                    <div class="well" ng-show="model.isCommentWellActive($index)">
                        <h4>Add Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea ng-model="model.subcommenttext" class="form-control coment-textarea"
                                          rows="3"></textarea>
                            </div>
                            <button ng-click="model.addSubComment($index)" type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                    <div class="row" ng-repeat="subcomment in comment.subcomments">
                        <div class="col-lg-2">
                            <div class="subcommentimg thumbnail">
                                <img class="img-responsive user-photo"
                                     src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="panel">
                                <div class="panel-heading">
                                    <strong>{{subcomment.username}}</strong> <span class="text-muted">{{subcomment.date}}</span>
                                    <a ng-show="model.authPower(subcomment.user_id)"
                                       ng-click="model.deleteSubComment(comment._id,subcomment._id)">Delete Comment</a>
                                </div>
                                <div class="panel-body">
                                    {{subcomment.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


