<div class="container">
    <div class="page">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="latest-movie">
                    <a href="#/movie_list"><img src="dummy/thumb-3.jpg" alt="Movie 3"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="latest-movie">
                    <a href="#/tv_list"><img src="dummy/thumb-4.png" alt="Movie 4"></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="latest-movie">
                    <a href="#/actor_list"><img src="dummy/thumb-5.jpg" alt="Movie 5"></a>
                </div>
            </div>
        </div> <!-- .row -->
    </div>
</div> <!-- .container -->