<div class="row" ng-controller="HomeController">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Explored Movie You Love</div>
                <div class="intro-heading">Welcome To Movie Fans!</div>
                <a href="#/movie_list" class="page-scroll btn btn-xl">Get Started</a>
            </div>
        </div>
    </header>

    <!-- Movie Section -->
    <section id="movie" class="list bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" align="center">
                    <embed src="https://www.youtube.com/v/ePbKGoIGAXY">
                </div>
                <div class="col-lg-4" align="center">
                    <embed src="https://www.youtube.com/v/2Rxoz13Bthc">
                </div>
                <div class="col-lg-4" align="center">
                    <embed src="https://www.youtube.com/v/5rWhvIJTSzI">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 list-item">
                    <div class="list-caption">
                        <h4>Popular</h4>
                    </div>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                </div>
                <div class="col-lg-4 list-item">
                    <div class="list-caption">
                        <h4>Recommendation</h4>
                    </div>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                </div>
                <div class="col-lg-4 list-item">
                    <div class="list-caption">
                        <h4>On Show</h4>
                    </div>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>movie1</h5>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- TV Section -->
    <section id="tv" class="list bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" align="center">
                    <embed src="https://www.youtube.com/v/A0pLbTXPHng">
                </div>
                <div class="col-lg-4" align="center">
                    <embed src="https://www.youtube.com/v/NTzycsqxYJ0">
                </div>
                <div class="col-lg-4" align="center">
                    <embed src="https://www.youtube.com/v/Va1UPrFXHKA">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 list-item">
                    <div class="list-caption">
                        <h4>Popular</h4>
                    </div>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                </div>
                <div class="col-lg-4 list-item">
                    <div class="list-caption">
                        <h4>Recommendation</h4>
                    </div>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                </div>
                <div class="col-lg-4 list-item">
                    <div class="list-caption">
                        <h4>On Show Tonight</h4>
                    </div>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                    <a href="#" class="list-link" data-toggle="modal">
                        <div class="list-hover">
                            <div class="list-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <h5>TV1</h5>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Actor Section -->
    <section id="actor" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Actors</h2>
                    <h3 class="section-subheading text-muted"><a href="views/actor_list.html">view more</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="actor">
                        <img src="img/actor/1.jpg" class="img-responsive img-circle" alt="">
                        <h4><a href="#/actor_detail">Jennifer Lawrence</a></h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="actor">
                        <img src="img/actor/2.jpg" class="img-responsive img-circle" alt="">
                        <h4><a href="#/actor_detail">John Christopher Depp</a></h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="actor">
                        <img src="img/actor/3.jpg" class="img-responsive img-circle" alt="">
                        <h4><a href="#/actor_detail">Scarlett Johansson</a>></h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>