<section class="row" id="actor_detail" ng-controller="ActorDetailController">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>{{actor.name}}</h2>
            <p class="item-intro text-muted"></p>
            <img class="img-responsive img-centered" ng-src="{{veriPosterImg(actor.profile_path)}}" alt="">
            <h4>{{actor.place_of_birth}}</h4>
            <p>{{actor.birthday}}</p>
            <p>{{actor.biography}}</p>
            <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary">
                <a href="#/actor_list">Close</a>
            </button>
        </div>
    </div>
</section>