<!-- Login Section -->
<section class="user" id="login" ng-controller="LoginController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Log in</h2>
                <h3 class="section-subheading text-muted">Input user name and password</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form name="sentMessage" id="loginForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input ng-model="user.username" type="text" class="form-control" placeholder="Username *" id="login_username"
                                       required data-validation-required-message="Please enter your username.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input ng-model="user.password" type="password" class="form-control" placeholder="Password *" id="login_pwd"
                                       required data-validation-required-message="Please enter your password.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="login_success"></div>
                            <button ng-click="login()" type="submit" class="btn btn-xl">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>