<div id="movie_detail" ng-controller="MovieDetailController">
    <section id="movie_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="movie_detail_frame img-responsive" src="./img/movie/1.jpg">
                </div>
                <div class="mv_info col-lg-6">
                    <h3 class="section-heading">X-Men: Apocalypse</h3>
                    <h4 class="section-heading">Relase Date: 1991</h4>
                    <p class="section-heading">Actors:  Olivia Munn, Jennifer Lawrence, Michael Fassbender</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                        recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                        totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed,
                        incidunt et ea quo dolore laudantium consectetur!</p>
                    <div class="rate">Rating:&nbsp;&nbsp;
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>IMDb &nbsp;<b>/  4.5</b></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="movie_trailer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" align="center">
                    <embed width="420" height="315"
                       src="https://www.youtube.com/v/COvnHv42T-A">
                </div>
                <div class="col-lg-6" align="center">
                    <embed width="420" height="315"
                           src="https://www.youtube.com/v/IT34AAaLVSo">
                </div>
            </div>
        </div>
    </section>
    <section id="movie_comment">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="well">
                        <h4>Leave Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-lg-offset-2">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span> <a class="addComToCom">Add Comment</a>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="well">
                        <h4>Add Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="subcommentimg thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="panel">
                                <div class="panel-heading">
                                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                                </div>
                                <div class="panel-body">
                                    Panel content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>