<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Fans</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="../index.html">Movie Fans</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#movie_info">Info</a>
                </li>
                <li>
                    <a class="page-scroll" href="#movie_trailer">Trailer</a>
                </li>
                <li>
                    <a class="page-scroll" href="#movie_comment">Comment</a>
                </li>
                <li>
                    <a class="page-scroll" href="./movie_list.html">Return Search Result</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div id="movie_detail">
    <section id="movie_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="movie_detail_frame img-responsive" src="../img/movie/1.jpg">
                </div>
                <div class="mv_info col-lg-6">
                    <h3 class="section-heading">X-Men: Apocalypse</h3>
                    <h4 class="section-heading">Relase Date: 1991</h4>
                    <p class="section-heading">Actors:  Olivia Munn, Jennifer Lawrence, Michael Fassbender</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                        recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                        totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed,
                        incidunt et ea quo dolore laudantium consectetur!</p>
                    <div class="rate">Rating:&nbsp;&nbsp;
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>IMDb &nbsp;<b>/  4.5</b></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="movie_trailer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <embed width="420" height="315"
                       src="https://www.youtube.com/v/COvnHv42T-A">
                </div>
                <div class="col-lg-6">
                    <embed width="420" height="315"
                           src="https://www.youtube.com/v/IT34AAaLVSo">
                </div>
            </div>
        </div>
    </section>
    <section id="movie_comment">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="well">
                        <h4>Leave Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-lg-offset-2">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span> <a class="addComToCom">Add Comment</a>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="well">
                        <h4>Add Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="subcommentimg thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="panel">
                                <div class="panel-heading">
                                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                                </div>
                                <div class="panel-body">
                                    Panel content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/cbpAnimatedHeader.js"></script>

<!-- Register Form JavaScript -->
<script src="../js/jqBootstrapValidation.js"></script>
<script src="../js/register.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/agency.js"></script>

</body>

</html>

</body>

</html>
