<!-- Profile Section -->
<section class="user" id="profile" ng-controller="ProfileController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Profile</h2>
                <h3 class="section-subheading text-muted">Update Profile</h3>
            </div>
        </div>
        <form name="sentMessage" id="profileForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" id="profile_username" required
                               data-validation-required-message="Please enter your username.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" id="profile_pwd" required
                               data-validation-required-message="Please enter your password.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" placeholder="Upload Photo" name="photo" accept="image/*">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" id="profile_email" required
                               data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="profile_veri_pwd"
                               placeholder="Comfirm Password"
                               data-validation-required-message="Please reenter your password.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                    <div id="update_success"></div>
                    <button type="submit" class="btn btn-xl">Update</button>
                </div>
            </div>
        </form>
    </div>

</section>