<section id="tv_detail" ng-controller="TvDetailController">
    <section id="movie_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="movie_detail_frame img-responsive" ng-src="{{veriPosterImg(tv.posterurl)}}">
                </div>
                <div class="mv_info col-lg-6">
                    <h3 class="section-heading">{{tv.name}}</h3>
                    <h4 class="section-heading">{{tv.first_air_date}}</h4>
                    <p class="section-heading">Actors: Alan Taylor,David Nutter,Alex Graves</p>
                    <p>{{tv.overview}}</p>
                    <div class="rate">Rating:&nbsp;&nbsp;
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>IMDb &nbsp;<b>/  {{tv.vote_average}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="movie_trailer">
        <div class="container">
            <div class="row">
                <div ng-repeat="video in tv.video">
                    <div class="clearfix" ng-if="$index<tv.video.length&&$index % 3 == 0"></div>
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <div id="tv_trailer" class="video-container">
                                <iframe width="100%" height="100%" ng-src="{{video.youtubeurl}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="movie_comment">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="well">
                        <h4>Leave Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-lg-offset-2">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span> <a class="addComToCom">Add Comment</a>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="well">
                        <h4>Add Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="subcommentimg thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="panel">
                                <div class="panel-heading">
                                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                                </div>
                                <div class="panel-body">
                                    Panel content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>