<section id="tv_list" ng-controller="TvController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TVs</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a href="#tv_detail"><img class="img-responsive" src="./img/tv/1.jpg"></a>
            </div>
            <div class="col-lg-3">
                <a href="#tv_detail"><img class="img-responsive" src="./img/tv/2.jpg"></a>
            </div>
            <div class="col-lg-3">
                <a href="#tv_detail"><img class="img-responsive" src="./img/tv/3.jpg"></a>
            </div>
            <div class="col-lg-3">
                <a href="#tv_detail"><img class="img-responsive" src="./img/tv/4.jpg"></a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
</section>