<div class="row" ng-controller="RegisterController as model">
    <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
        <div class="row">
            <h1 class="col-xs-18 col-md-12">Register</h1>
            <h1 class="col-xs-18 col-md-12"></h1>
        </div>
        <form id="register_form" class="form-horizontal well">
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">User Name:</label>
                <div class="col-sm-9">
                    <input ng-model="model.user.username" type="text" class="form-control" id="username"
                           placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password:</label>
                <div class="col-sm-9">
                    <input ng-model="model.user.password" type="password" class="form-control" id="password"
                           placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="verifypassword" class="col-sm-3 control-label">Verify Password:</label>
                <div class="col-sm-9">
                    <input ng-model="model.user.veripassword" type="password" class="form-control" id="verifypassword"
                           placeholder="Verify Password">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Emails:</label>
                <div class="col-sm-6">
                    <input ng-model="model.email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <button class="col-sm-3 btn btn-default btn-info" style="width: 193px;" ng-click="model.addEmail()">Add
                    Email
                </button>
                <br>
                <div class="col-sm-9 col-sm-offset-3">
                    <ul class="list-group" ng-repeat="email in model.user.emails">
                        <li class="list-group-item">{{model.user.emails[$index]}}
                            <button class="pull-right btn btn-xs btn-warning" ng-click="model.deleteEmail($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">Phones:</label>
                <div class="col-sm-6">
                    <input ng-model="model.phone" type="text" class="form-control" id="phone" placeholder="Phones">
                </div>
                <button class="col-sm-3 btn btn-default btn-info" style="width: 193px;" ng-click="model.addPhone()">Add
                    Phone
                </button>
                <br>
                <div class="col-sm-9 col-sm-offset-3">
                    <ul class="list-group" ng-repeat="phone in model.user.phones">
                        <li class="list-group-item">{{model.user.phones[$index]}}
                            <button class="pull-right btn btn-xs btn-warning" ng-click="model.deletePhone($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button ng-click="model.register()" type="button" form="register_form" value="Submit"
                            class="col-sm-12 btn btn-default btn-info">Register
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>